# ---------------------------------------------------------
# PhishGuard Backend
# Step 1 - URL Parser
# ---------------------------------------------------------

APP_ENV=development

HOST=127.0.0.1
PORT=8000

# =========================================================
# PhishGuard
# OSINT configuration
# =========================================================

# ---------------------------------------------------------
# PhishTank
# ---------------------------------------------------------

PHISHTANK_APP_KEY=

# ---------------------------------------------------------
# URLhaus
# ---------------------------------------------------------

URLHAUS_AUTH_KEY= "f17d5a4809511985e18584eb0ac72c6c86ccd84a1817406e"

# ---------------------------------------------------------
# urlscan.io
# ---------------------------------------------------------

URLSCAN_API_KEY= "01a0f3c3-b026-7121-9193-88eff44533d1"

# ---------------------------------------------------------
# OSINT
# ---------------------------------------------------------

OSINT_TIMEOUT=8

URLSCAN_MAX_RESULTS=10

PHISHGUARD_USER_AGENT=PhishGuard/0.1